# Environment variables
.env

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
*.ipynb

# Snapshots
Snapshots/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# ChromaDB
chroma_index/

# OS
.DS_Store
Thumbs.db
